################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrjKujundid/.vs/PrjKujundid
/PrjKujundid/PrjKujundid/obj/Debug
